{% load static %}

<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Продукты 1С{% endblock %}</title>

    <link rel="stylesheet"
          href="{% static 'bootstrap-5.3.8-dist/css/bootstrap.min.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">

    <header>
        {% include 'header.html' %}
    </header>

    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="mt-auto pt-4 my-md-5 pt-md-5 border-top">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md">
                    Продукты 1С
                    <small class="d-block mb-3 text-muted">
                        &copy; 2026
                    </small>
                </div>

                <div class="col-6 col-md-2 ms-auto">
                    <h5>О нас</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="/contacts/">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>